
#results li.pass {
    color: rgb(35, 58, 2);
}

#results li.fail {
    text-decoration: line-through;
    color: gray;
}
html {
    background: url(https://i.imgur.com/3cUu0X5.jpg) bottom center;
    background-size: cover;
}
.note {
    background-color: rgba(242, 210, 169, 0.8);
    font-family: 'Cambria';
    margin: 15px;
    padding: 15px;
    display: grid;
}
.input1 {
    height: 100%;
}

#notesBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 1em;

}
.closebtn {
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .closebtn:hover {
    color: rgb(99, 98, 98);
  }

  .createD, .modifyD {
      font-size: 0.5em;
  }


